# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-communication-backend @pagopa/io-platform-admins @pagopa/io-platform-contributors @pagopa/io-auth-n-identity-backend
/infra/bootstrapper @pagopa/io-platform-admins @pagopa/engineering-team-devex
