{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "{AzureWebJobsStorage}",
    "FUNCTIONS_V2_COMPATIBILITY_MODE": false,

    "COSMOS_CHUNK_SIZE": "1000",
    "COSMOS_DEGREE_OF_PARALLELISM": "2",
    "MESSAGE_CONTENT_CHUNK_SIZE": "200",

    "ERROR_STORAGE_ACCOUNT": "<StorageName>",
    "ERROR_STORAGE_KEY": "<StorageKey>",
    "ERROR_STORAGE_TABLE": "<Table Name>",
    "ERROR_STORAGE_TABLE_MESSAGES": "<Table Name>-messages",
    "ERROR_STORAGE_TABLE_MESSAGE_STATUS": "<Table Name>-message-status",

    "MESSAGES_TOPIC_NAME": "pdnd-io-cosmosdb-message",
    "MESSAGES_TOPIC_CONNECTION_STRING": "<Connection String>"
    "MESSAGES_LEASES_PREFIX": "messages-001",

    "MESSAGE_STATUS_TOPIC_NAME":"pdnd-io-cosmosdb-message-status",
    "MESSAGE_STATUS_TOPIC_CONNECTION_STRING":"<Conn String>",
    "MESSAGE_STATUS_LEASES_PREFIX": "message-status-001",

    "SERVICEID_EXCLUSION_LIST": "ServiceId1,ServiceId2"
  }
}