{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "{AzureWebJobsStorage}",
    "FUNCTIONS_V2_COMPATIBILITY_MODE": false,

    "COSMOS_CHUNK_SIZE": "1000",
    "COSMOS_DEGREE_OF_PARALLELISM": "2",
    "MESSAGE_CONTENT_CHUNK_SIZE": "200",

    "ERROR_STORAGE_TABLE": "<Table Name>",
    "ERROR_STORAGE_TABLE_MESSAGES": "<Table Name>-messages",
    "ERROR_STORAGE_TABLE_MESSAGE_STATUS": "<Table Name>-message-status",
    
    "SERVICE_PREFERENCES_TOPIC_NAME":"pdnd-io-cosmosdb-service-preferences",
    "SERVICE_PREFERENCES_TOPIC_CONNECTION_STRING":"<Conn String>",
    "SERVICE_PREFERENCES_LEASES_PREFIX": "service-preferences-001",
    "SERVICE_PREFERENCES_FAILURE_QUEUE_NAME": "<Queue Name>-service-preferences",
    
    "PDV_TOKENIZER_API_KEY": "aKey",
    "PDV_TOKENIZER_BASE_URL": "",
    "PDV_TOKENIZER_BASE_PATH": "",

    "PROFILES_TOPIC_NAME" : "pdnd-io-cosmosdb-profiles",
    "PROFILES_TOPIC_CONNECTION_STRING" : "<Conn String>",
    "PROFILES_LEASES_PREFIX" : "profiles-001",
    "PROFILES_FAILURE_QUEUE_NAME" : "<Queue Name>-profiles",

    "SERVICEID_EXCLUSION_LIST": "ServiceId1,ServiceId2",

    "REDIS_URL": "localhost",
    "REDIS_PORT": 6379,
    "REDIS_PASSWORD": "foo",
    "REDIS_TLS_ENABLED": false

    "DELETESS_TOPIC_NAME" : "pdnd-io-cosmosdb-deletes",
    "DELETES_TOPIC_CONNECTION_STRING" : "<Conn String>",
    "DELETES_LEASES_PREFIX" : "deletes-001",

    "SERVICEID_EXCLUSION_LIST": "ServiceId1,ServiceId2"
  }
}
